* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.board {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25vw;
  height: 25vw;
  border: 5px solid black;
  box-shadow: 0 0 10px 5px black;
  background-color: white;
}

span {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  background-color: red;
}

span:nth-child(2) {
  top: auto;
  left: auto;
  right: 0;
  bottom: 0;
}
